.content {
	display: flex;
	flex-direction: column;
	gap: var(--pad);
	padding: var(--pad);
}

#content-center {
	padding: calc(3 * var(--pad));
	min-height: 100%;
}

.content-title {
	width: 100%;
	text-align: left;
	font-size: calc(var(--pad) * 2.5);
}

.page-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: var(--pad);
	width: 100%;
	font-size: calc(var(--fs) * 1.2);
}

.page-nav a {
	display: block;
	vertical-align: center;
	text-align: center;
	padding: calc(var(--pad) / 2);
	background-color: var(--clr-bg);
	color: var(--con-bg);
}

.page-nav a.current {
	background-color: var(--clr-fg);
	color: var(--con-fg);
}

.page-nav a:hover, .page-nav a.current:hover {
	background-color: var(--clr-bg-d1);
	color: var(--con-bg-d1);
}

