.post-list {
	display: flex;
	flex-direction: column;
	gap: var(--pad);
}

.post {
	background-color: var(--clr-bg);
	color: var(--con-bg);
	display: flex;
	flex-direction: column;
}

.post-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--pad);
	padding: var(--pad);
	background-color: var(--clr-bg-d1);
	flex-wrap: wrap;
}

.post-header-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: var(--pad);
	flex-wrap: wrap;
}


.post-header-right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: var(--pad);
	flex-wrap: wrap;
}

.post-body {
	display: flex;
	flex-direction: column;
	padding: var(--pad);
	gap: var(--pad);
}

.post-content {
	overflow-wrap: break-word;
}

.post-content .post-link {
	color: #6ef0ff;
}

.post-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--pad);
	padding: var(--pad);
	flex-wrap: wrap;
}

.post-options {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--pad);
	flex-wrap: wrap;
}

.post-options-left {
	background-color: var(--clr-bg-d2);
}

.post-button {
	text-align: center;
	padding: var(--pad);
	background-color: var(--clr-bg-d1);
	color: var(--con-bg);
}

.post-button:hover {
	cursor: pointer;
	background-color: var(--clr-bg-d2);
	color: var(--con-bg);
}

.post-button-like:hover, .post-button-like.reaction-active {
	background-color: #FF6e6e;
}

.post-button-dislike:hover, .post-button-dislike.reaction-active {
	background-color: #FFad6e;
}

.reaction-active:hover {
	background-color: var(--clr-bg-d2);
}

textarea.post-editor {
	width: 100%;
	height: calc(var(--fs) * 5);
	resize: vertical;
}

#reply_form textarea {
	width: 100%;
	height: calc(var(--fs) * 10);
	resize: vertical;
}

#reply_form .reply-options {
	display: flex;
	gap: var(--pad);
}

#reply_form button[type="submit"] {
	flex-grow: 1;
}

#post-preview {
	position: absolute;
	visibility: hidden;
	z-index: 99;
	transform: translate(calc(2 * var(--pad)), -50%);
	box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.50);
	min-width: min(25vw, 500px);
	max-height: calc(90vh - 2 * var(--pad));
	max-width: 25vw;
}

.post.post-edit-mode .post-standard-mode {
	display: none !important;
}

.post.post-standard-mode .post-edit-mode {
	display: none !important;
}

